<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <th:block th:each="car : ${cars}">
            <tr>
                <th th:text="${car.getManufacturer()}"></th>
                <th th:text="${car.getModel()}"></th>
                <th th:text="${car.getBuildYear()}"></th>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>